*{
	margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
body{
    background-color: #f3ca2f;

}
form{
	display: flex;
	justify-content: center;
}
.run{
	font-size: 24px;
		padding: 10px 40px;
		margin: 50px 0;
		cursor: pointer;
		border: 5px solid black;
    background-color: transparent;

}
.out{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 24px;
		padding: 10px 40px;
		cursor: pointer;
		border: 5px solid black;
    background-color: transparent;
	}
.table-desk{
	display: flex;
	justify-content: space-around;
}
table {
    border-collapse: collapse;
    width: 30%;
    box-shadow: 2px 20px 8px 8px rgba(1,1,1,0.5);
}
caption{
	font-size: 18px;
	font-style: italic;
	margin-bottom: 10px;
}
 td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){
 	background-color: #f2f2f2;
 }

 tr:hover {
 	background-color: black;
 	color: white;
 }

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.stantions{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;

}
.stantion{
	border: 5px solid black;
	font-size: 24px;
	padding: 5px;


}
.stantion-now{
	padding: 5px;
	
	border: 5px solid black;
	font-size: 24px;
background-color: black;
 	color: white;
}