*{
        margin: 0;
        padding: 0;
}
html{
	height: 100%;	
	background-image: url(img/bus.gif);
	background-position: center;
	background-size: 100%;
}
body{
	display: flex;
	justify-content: center;
}
.start{
	position: absolute;
	top: 0;

}
.subbtn{
		background-color: #cca337c2;
		font-size: 24px;
		padding: 10px;
		margin: 50px;
		border: 5px solid black;
		text-decoration: none;
		color: black;
		cursor: pointer;

	}
	#add
	{
		width:90%;
		height: 25px;
		border: 3px solid black;
		border-radius: 3px;
		background-color: transparent;
	}
	.Mes{
		font-size: 18px;
		font-style: italic;
		text-align: center;
		margin: 50px auto;
	}
	